@use '../utils/forward' as *;

.btn {
  @include font-type('bold', null, 1.875, 0.06em);

  text-align: center;
  border: none;
  border-radius: 4px;

  &__menu {
    background-color: transparent;
    cursor: pointer;
    text-align: right;
    padding: 0;
  }

  &__service {
    padding: 10px 41px 10px 42px;
    color: color-get('text-alternative');
    background-color: color-get('link-primary');
    @include transition-add('background-color');

    &:hover,
    &:focus {
      cursor: pointer;
      background-color: color-get('link-secondary');
    }
  }

  &__newsletter {
    @include flex-display(null, null, null, center);
    padding: 10px 28px 10px 42px;
    color: color-get('text-alternative');
    background-color: color-get('link-primary');
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    @include transition-add('background-color');

    &:hover,
    &:focus {
      cursor: pointer;
      background-color: color-get('link-secondary');
    }
  }

  &__close-frm {
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 6px;
    background-color: color-get('bg-page-primary');
    border: 1px solid color-get('icon-close');
    border-radius: 50%;
    cursor: pointer;
    @include transition-add('color' 'background-color');

    &:hover,
    &:focus {
      background-color: color-get('icon-close-hover');
    }
  }

  &__close-mobile {
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 5px;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    cursor: pointer;
  }

  &__submit-service {
    padding: 10px 76px;
    margin-top: 30px;
    margin-inline: auto;
    color: color-get('text-alternative');
    background: color-get('link-primary');
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    @include transition-add('background-color');

    &:hover,
    &:focus {
      cursor: pointer;
      background-color: color-get('link-secondary');
    }
  }

  &__filter {
    padding: 6px 22px;
    @include font-type('medium', 16px, 1.625, 0.03em);
    background: color-get('bg-page-tertiary');
    @include transition-add('color' 'background-color' 'box-shadow');

    &:hover,
    &:focus {
      color: color-get('text-alternative');
      background-color: color-get('link-primary');
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
      cursor: pointer;
    }
  }
}

@include media-mapp(null, 'tablet') {
  .btn {
    &__filter {
      padding-inline: 0;
      width: 121px;
    }
  }
}

@include media-mapp('tablet') {
  .btn {
    &__menu {
      display: none;
    }
  }
}
