@import '../utils/colors';
@import '../utils/mixins';
@import '../utils/transition2';
@import '../utils/flex';
@import '../utils/font';
@import '../utils/media';

.btn {
  @include fontType(700, null, 1.875, 0.06em);

  text-align: center;
  border: none;
  border-radius: 4px;

  &__menu {
    background-color: transparent;
    cursor: pointer;
    text-align: right;
    padding: 0;
  }

  &__service {
    padding: 10px 41px 10px 42px;
    color: getColor('text-alternative');
    background-color: getColor('link-primary');
    @include addTransition('background-color');

    &:hover,
    &:focus {
      cursor: pointer;
      background-color: getColor('link-secondary');
    }
  }

  &__newsletter {
    @include flex(null, null, null, center);
    padding: 10px 28px 10px 42px;
    color: getColor('text-alternative');
    background-color: getColor('link-primary');
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    @include addTransition('background-color');

    &:hover,
    &:focus {
      cursor: pointer;
      background-color: getColor('link-secondary');
    }
  }

  &__close-frm {
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 6px;
    background-color: getColor('bg-page-primary');
    border: 1px solid getColor('icon-close');
    border-radius: 50%;
    cursor: pointer;
    @include addTransition('color' 'background-color');

    &:hover,
    &:focus {
      background-color: getColor('icon-close-hover');
    }
  }

  &__close-mobile {
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 5px;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    cursor: pointer;
  }

  &__submit-service {
    padding: 10px 76px;
    margin-top: 30px;
    margin-inline: auto;
    color: getColor('text-alternative');
    background: getColor('link-primary');
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    @include addTransition('background-color');

    &:hover,
    &:focus {
      cursor: pointer;
      background-color: getColor('link-secondary');
    }
  }

  &__filter {
    padding: 6px 22px;
    @include fontType('medium', 16px, 1.625, 0.03em);
    background: getColor('bg-page-tertiary');
    @include addTransition('color' 'background-color' 'box-shadow');

    &:hover,
    &:focus {
      color: getColor('text-alternative');
      background-color: getColor('link-primary');
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 767px) {
  .btn {
    &__filter {
      padding-inline: 0;
      width: 121px;
    }
  }
}

@media screen and (min-width: 768px) {
  .btn {
    &__menu {
      display: none;
    }
  }
}
