@import '../utils/colors';
@import '../utils/fonts';
@import '../utils/mixins';
@import '../utils/transition';

.contact {
  &__header {
    @include flexrow(10px);

    align-items: center;

    @include fontType(400, 14px, 1.143, 0.02em);

    color: getColor('text-secondary');
  }

  &__footer {
    display: flex;
    flex-direction: column;
    gap: 9px;
    font-style: normal;
    @include fontType(400, 14px, 1.5, 0.03em);

    color: getColor('text-alternative');

    &--special {
      color: getColor('text-alternative2');
    }
  }
}
