@use '../utils/forward' as *;

.contact {
  &__header {
    @include flex-display(row, 8px, null, center);
    @include font-type('medium', 12px, null, 0.02em);
    color: color-get('text-secondary');
  }

  &__footer {
    @include flex-display(column, 9px);
    @include font-type(null, 14px, 1.5, null);
    text-align: center;
    font-style: normal;
    color: color-get('text-alternative');

    &--special {
      color: color-get('text-alternative2');
    }
  }
}

@include media-mapp('desktop') {
  .contact {
    &__header {
      @include flex-display(null, 10px);
      @include font-type('medium', 14px, 1.143, 0.02em);
      color: color-get('text-secondary');
    }

    &__footer {
      text-align-last: left;
    }
  }
}
