@import '../utils/colors';
@import '../utils/mixins';
@import '../utils/transition2';
@import '../utils/flex';
@import '../utils/font';
@import '../utils/media';

.contact {
  &__header {
    @include flex(row, 8px, null, center);
    @include fontType('medium', 12px, null, 0.02em);
    color: getColor('text-secondary');
  }

  &__footer {
    @include flex(column, 9px);
    @include fontType(null, 14px, 1.5, null);
    text-align: center;
    font-style: normal;
    color: getColor('text-alternative');

    &--special {
      color: getColor('text-alternative2');
    }
  }
}

@media screen and (min-width: 1200px) {
  .contact {
    &__header {
      @include flex(null, 10px);
      @include fontType('medium', 14px, 1.143, 0.02em);
      color: getColor('text-secondary');
    }

    &__footer {
      text-align-last: left;
    }
  }
}
