@use '../utils/forward' as *;

.customer {
  @include flex-display(wrap, 30px, center);

  &__item {
    @include flex-basis(2, 30px);
    max-width: 270px;
  }

  &__icon {
    @include flex-display(null, null, center, center);
    height: 92px;
    border: 1px solid color-get('icon-primary');
    border-radius: 4px;
    @include transition-add('border-color');

    &:hover,
    &:focus {
      border-color: color-get('link-primary');
      fill: color-get('link-primary');
      cursor: pointer;
    }
  }
}

@include media-mapp('tablet') {
  .customer {
    &__item {
      @include flex-basis(3, 30px);
    }
  }
}

@include media-mapp('desktop') {
  .customer {
    &__item {
      @include flex-basis(6, 30px);
    }
  }
}
