@import '../utils/colors';
@import '../utils/mixins';
@import '../utils/transition2';
@import '../utils/flex';
@import '../utils/font';
@import '../utils/media';

.customer {
  @include flex(wrap, 30px, center);

  &__item {
    @include flexBasis(2, 30px);
    max-width: 270px;
  }

  &__icon {
    @include flex(null, null, center, center);
    height: 92px;
    border: 1px solid getColor('icon-primary');
    border-radius: 4px;
    @include addTransition('border-color');

    &:hover,
    &:focus {
      border-color: getColor('link-primary');
      fill: getColor('link-primary');
      cursor: pointer;
    }
  }
}

@media screen and (min-width: 768px) {
  .customer {
    &__item {
      @include flexBasis(3, 30px);
    }
  }
}

@media screen and (min-width: 1200px) {
  .customer {
    &__item {
      @include flexBasis(6, 30px);
    }
  }
}
