@import '../utils/colors';
@import '../utils/mixins';
@import '../utils/transition';

.page-footer {
  justify-content: left;

  &--bg {
    background-color: getColor('bg-page-secondary');
  }

  &__container {
    @include container(60px 15px);
  }

  &__headline {
    margin-bottom: 20px;

    @include fontType(700, 14px, 1.143, null);

    text-align: center;
    text-transform: uppercase;
    color: getColor('text-alternative');
  }

  &__contact {
    margin-top: 20px;
  }

  &__newsletter {
    margin: 0 auto;
  }
}

@media screen and (max-width: 767px) {
  .page-footer {
    &__social {
      margin-top: 60px;
    }

    &__newsletter {
      margin-top: 60px;
    }
  }
}

@media screen and (min-width: 768px) {
  .page-footer {
    @include flexwrap(0);
    justify-content: space-between;

    padding: 60px 89px 60px 76px;

    &__social {
      padding-top: 12px;
      margin-left: 100px;
    }

    &__newsletter {
      margin-top: 60px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .page-footer {
    @include flexrow(55px);

    padding: 60px 15px;

    &__headline {
      text-align: left;
    }

    &__social {
      margin: 0 auto;
    }

    &__newsletter {
      padding-top: 12px;
      margin: 0;
    }
  }
}
