@use '../utils/forward' as *;

.page-footer {
  justify-content: left;

  &--bg {
    background-color: color-get('bg-page-secondary');
  }

  &__container {
    @include mix-container(60px 15px);
  }

  &__headline {
    margin-bottom: 20px;

    @include font-type('bold', 14px, 1.143, null);

    text-align: center;
    text-transform: uppercase;
    color: color-get('text-alternative');
  }

  &__contact {
    margin-top: 20px;
  }

  &__newsletter {
    margin: 0 auto;
  }
}

@include media-mapp(null, 'tablet') {
  .page-footer {
    &__social {
      margin-top: 60px;
    }

    &__newsletter {
      margin-top: 60px;
    }
  }
}

@include media-mapp('tablet') {
  .page-footer {
    @include flex-display(wrap, null, space-between);

    padding: 60px 89px 60px 76px;

    &__social {
      padding-top: 12px;
      margin-left: 120px;
    }

    &__newsletter {
      margin-top: 60px;
    }
  }
}

@include media-mapp('desktop') {
  .page-footer {
    @include flex-display(row, 55px);

    padding: 60px 15px;

    &__headline {
      text-align: left;
    }

    &__social {
      margin: 0 auto;
    }

    &__newsletter {
      padding-top: 12px;
      margin: 0;
    }
  }
}
