@import '../utils/colors';
@import '../utils/fonts';
@import '../utils/mixins';
@import '../utils/transition';

.frm-newsletter {
  @include flexcol(20px);
  align-items: center;
  justify-content: center;

  &__email {
    padding-inline: 16px;
    max-width: 450px;
    height: 50px;

    @include fontType(400, 16px, 1.25, 0.03em);

    color: getColor('text-alternative');

    outline: none;
    background-color: transparent;
    border: 1px solid getColor('border-input-secondary');
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    transition: getTransition('border-color');

    &:focus {
      border-color: getColor('link-primary');
    }

    &::placeholder {
      color: getColor('text-alternative2');
    }
  }
}

@media screen and (max-width: 767px) {
  label {
    width: 100%;
  }

  input {
    display: block;
    width: 100%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .frm-newsletter {
    &__email {
      width: 450px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .frm-newsletter {
    @include flexrow(12px);

    &__email {
      margin: 0;
      width: 358px;
    }
  }
}
