@import '../utils/colors';
@import '../utils/fonts';
@import '../utils/mixins';
@import '../utils/transition';

.frm-service {
  width: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;

  &__title {
    margin-bottom: 12px;

    @include fontType(700, 20px, 1.15, 0.03em);

    text-align: center;
  }

  &__lbl {
    position: relative;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 4px;

    @include fontType(400, 12px, 1.167, 0.01em);

    color: getColor('text-secondary');

    & > input {
      height: 40px;
      padding: 12px 12px 12px 42px;
      border: 1px solid getColor('border-input-primary');
      border-radius: 4px;
      outline: none;
      transition: getTransition('border-color');
    }

    &:focus-within > input {
      border-color: getColor('link-primary');
    }

    & > textarea {
      padding: 12px 16px;
      border: 1px solid getColor('border-input-primary');
      border-radius: 4px;
      resize: none;
      outline: none;
      transition: getTransition('border-color');
    }

    & > textarea:focus {
      border-color: getColor('link-primary');
    }

    & > textarea::placeholder {
      color: getColor('text-placeholder');
    }
  }

  &__chb {
    position: relative;
    padding-left: 24px;
    margin-top: 10px;

    @include fontType(400, 12px, 1.167, 0.03em);

    text-align: left;
    color: getColor('text-secondary');

    &--link {
      color: getColor('link-primary');
      transition: getTransition('color');
    }

    &--link:hover,
    &--link:focus {
      color: getColor('link-secondary');
    }

    & > input {
      appearance: none;
    }
  }

  &__no-check {
    display: inline-block;
    position: absolute;
    box-sizing: border-box;
    width: 16px;
    height: 15px;
    top: -1px;
    left: 0;
    border: 2px solid getColor('text-primary');
    border-radius: 2px;
    opacity: 1;
    transition: getTransition('opacity');

    &:hover,
    &:focus {
      cursor: pointer;
    }

    .frm-service__chb > input:checked ~ & {
      opacity: 0;
    }
  }
}

@media screen and (min-width: 1200px) {
  .frm-service {
    &__chb {
      @include fontType(400, 14px, 1.714, 0.03em);
    }

    &__no-check {
      top: 4px;
    }
  }
}
