@use '../utils/forward' as *;

.frm-service {
  width: 100%;
  padding: 40px;
  @include flex-display(column);

  &__title {
    margin-bottom: 12px;

    @include font-type('bold', 20px, 1.15, null);

    text-align: center;
  }

  &__lbl {
    position: relative;
    margin-bottom: 10px;
    @include flex-display(column, 4px);
    @include font-type(null, 12px, null, 0.01em);

    color: color-get('text-secondary');

    & > input {
      height: 40px;
      padding: 12px 12px 12px 42px;
      border: 1px solid color-get('border-input-primary');
      border-radius: 4px;
      outline: none;
      @include transition-add('border-color');
    }

    &:focus-within > input {
      border-color: color-get('link-primary');
    }

    & > textarea {
      padding: 12px 16px;
      border: 1px solid color-get('border-input-primary');
      border-radius: 4px;
      resize: none;
      outline: none;
      @include transition-add('border-color');
    }

    & > textarea:focus {
      border-color: color-get('link-primary');
    }

    & > textarea::placeholder {
      color: color-get('text-placeholder');
    }
  }

  &__chb {
    position: relative;
    padding-left: 24px;
    margin-top: 10px;

    @include font-type('normal', 12px, 1.167, 0.03em);

    text-align: left;
    color: color-get('text-secondary');

    &--link {
      color: color-get('link-primary');
      @include transition-add('color');
    }

    &--link:hover,
    &--link:focus {
      color: color-get('link-secondary');
    }

    & > input {
      appearance: none;
    }
  }

  &__no-check {
    display: inline-block;
    position: absolute;
    box-sizing: border-box;
    width: 16px;
    height: 15px;
    top: -1px;
    left: 0;
    border: 2px solid color-get('text-primary');
    border-radius: 2px;
    opacity: 1;
    @include transition-add('opacity');

    &:hover,
    &:focus {
      cursor: pointer;
    }

    .frm-service__chb > input:checked ~ & {
      opacity: 0;
    }
  }
}

@include media-mapp('desktop') {
  .frm-service {
    &__chb {
      @include font-type('normal', 14px, 1.714, 0.03em);
    }

    &__no-check {
      top: 4px;
    }
  }
}
