@use '../utils/forward' as *;

body {
  font-family: 'Roboto', sans-serif;
  @include font-type('normal', 16px, 1.167, 0.03em);
  color: color-get('text-primary');
  background-color: color-get('bg-browser');
}

h1,
h2,
h3,
h4,
h5,
p,
ul,
figure {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
}

// label {
//   width: 100%;
// }

// input {
//   display: block;
//   width: 100%;
//   margin: 0 auto;
// }

.list {
  list-style-type: none;
}

.link {
  margin: 0;
  color: inherit;
  text-decoration: none;
  @include transition-add('color');
}

.link:visited {
  color: inherit;
}

.link:focus,
.link:hover {
  color: color-get('link-primary');
}
