@use '../utils/forward' as *;

.page-header {
  @include flex-display(row, null, space-between, center);

  &--border {
    border-bottom: 1px solid color-get('border-primary');
  }

  &__container {
    @include mix-container(10px 15px);
  }
}

@include media-mapp(null, 'tablet') {
  .page-header {
    justify-content: space-between;

    &__contact {
      display: none;
    }
  }
}

@include media-mapp('tablet') {
  .page-header {
    &__container {
      @include mix-container(21px 15px);
    }

    &__contact {
      @include flex-display(column, 10px)
    }
  }
}

@include media-mapp('desktop') {
  .page-header {
    &__container {
      @include mix-container(24px 27px 24px 15px);
    }

    &__contact {
      @include flex-display(row, 30px);
    }
  }
}
