@import '../utils/colors';
@import '../utils/mixins';
@import '../utils/transition2';
@import '../utils/flex';
@import '../utils/font';
@import '../utils/media';


.page-header {
  @include flex(row, null, space-between, center);

  &--border {
    border-bottom: 1px solid getColor('border-primary');
  }

  &__container {
    @include container(10px 15px);
  }
}

@media screen and (max-width: 767px) {
  .page-header {
    justify-content: space-between;

    &__contact {
      display: none;
    }
  }
}

@media screen and (min-width: 768px) {
  .page-header {
    &__container {
      @include container(21px 15px);
    }

    &__contact {
      @include flex(column, 10px)
    }
  }
}

@media screen and (min-width: 1200px) {
  .page-header {
    &__container {
      @include container(24px 27px 24px 15px);
    }

    &__contact {
      @include flex(row, 30px);
    }
  }
}
