@import '../utils/colors';
@import '../utils/fonts';
@import '../utils/mixins';
@import '../utils/transition';

.icon {
  display: block;
  fill: currentColor;

  &__information {
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
    background-color: getColor('bg-page-tertiary');
    border: none;
    border-radius: 4px;
  }

  &__send {
    width: 24px;
    height: 24px;
    display: inline;
    margin-left: 24px;
  }
}

.icon {
  &__menu {
    width: 40px;
    height: 40px;
  }
}

.icon {
  &__envelope {
    width: 16px;
    height: 12px;
    fill: getColor('text-secondary');
    transition: getTransition('fill');

    .link:hover &,
    .link:focus & {
      fill: getColor('link-primary');
    }
  }

  &__smartphone {
    width: 10px;
    height: 16px;
    fill: getColor('text-secondary');
    transition: getTransition('fill');

    .link:hover &,
    .link:focus & {
      fill: getColor('link-primary');
    }
  }
}

.icon__social {
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  fill: getColor('icon-primary');
  transition: getTransition('background-color'), getTransition('fill');

  &--layout {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  &--special {
    fill: getColor('text-alternative');
    background: getColor('icon-secondary');
  }

  a:hover &,
  a:focus & {
    background-color: getColor('link-primary');
    fill: getColor('text-alternative');
    cursor: pointer;
  }
}

.icon__customer {
  width: 170px;
  height: 92px;
  border: 1px solid getColor('icon-primary');
  border-radius: 4px;
  fill: getColor('icon-primary');
  transition: getTransition('border-color'), getTransition('fill');

  a:hover &,
  a:focus & {
    border-color: getColor('link-primary');
    fill: getColor('link-primary');
    cursor: pointer;
  }
}

.icon__input {
  position: absolute;
  top: 29px;
  left: 12px;
  width: 18px;
  height: 18px;
  transition: getTransition('fill');

  .frm-service__lbl:focus-within > & {
    fill: getColor('link-primary');
  }
}

.icon__close {
  width: 18px;
  height: 18px;
  fill: getColor('text-logo');
  transition: getTransition('fill');

  &--mobile {
    width: 30px;
    height: 30px;
  }

  .btn__close-frm:hover &,
  .btn__close-frm:focus & {
    fill: getColor('text-alternative');
  }

  .btn__close-mobile:hover &,
  .btn__close-mobile:focus & {
    fill: getColor('link-primary');
  }
}

.icon__check {
  position: absloute;
  display: inline-block;
  position: absolute;
  box-sizing: border-box;
  width: 16px;
  height: 15px;
  top: 4px;
  left: 14px;
  border: none;
  border-radius: 2px;
  fill: blue;
  opacity: 0;
  transition: getTransition('opacity');

  &:hover,
  &:focus {
    cursor: pointer;
  }

  .frm-service__chb > input:checked ~ & {
    opacity: 1;
  }
}
