@use '../utils/forward' as *;

.icon {
  display: block;
  fill: currentColor;

  &__information {
    width: 70px;
    height: 70px;
  }

  &__send {
    width: 24px;
    height: 24px;
    display: inline;
    margin-left: 24px;
  }
}

.icon {
  &__menu {
    width: 40px;
    height: 40px;
  }
}

.icon {
  &__envelope {
    width: 16px;
    height: 12px;
    fill: color-get('text-secondary');
    @include transition-add('fill');

    .link:hover &,
    .link:focus & {
      fill: color-get('link-primary');
    }
  }

  &__smartphone {
    width: 10px;
    height: 16px;
    fill: color-get('text-secondary');
    @include transition-add('fill');

    .link:hover &,
    .link:focus & {
      fill: color-get('link-primary');
    }
  }
}

.icon__social {
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  fill: color-get('icon-primary');
  @include transition-add('background-color' 'fill');

  &--layout {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  &--special {
    fill: color-get('text-alternative');
    background: color-get('icon-secondary');
  }

  a:hover &,
  a:focus & {
    background-color: color-get('link-primary');
    fill: color-get('text-alternative');
    cursor: pointer;
  }
}

.icon__customer {
  width: 106px;
  height: 60px;
  fill: color-get('icon-primary');
  @include transition-add('border-color' 'fill');

  .customer__icon:hover &,
  .customer__icon:focus & {
    border-color: color-get('link-primary');
    fill: color-get('link-primary');
    cursor: pointer;
  }
}

.icon__input {
  position: absolute;
  top: 29px;
  left: 12px;
  width: 18px;
  height: 18px;
  @include transition-add('fill');

  .frm-service__lbl:focus-within > & {
    fill: color-get('link-primary');
  }
}

.icon__close {
  width: 18px;
  height: 18px;
  fill: color-get('text-logo');
  @include transition-add('fill');

  &--mobile {
    width: 30px;
    height: 30px;
  }

  .btn__close-frm:hover &,
  .btn__close-frm:focus & {
    fill: color-get('text-alternative');
  }

  .btn__close-mobile:hover &,
  .btn__close-mobile:focus & {
    fill: color-get('link-primary');
  }
}

.icon__check {
  position: absloute;
  display: inline-block;
  position: absolute;
  box-sizing: border-box;
  width: 16px;
  height: 15px;
  top: -1px;
  left: 0;
  border: none;
  border-radius: 2px;
  fill: blue;
  opacity: 0;
  @include transition-add('opacity');

  &:hover,
  &:focus {
    cursor: pointer;
  }

  .frm-service__chb > input:checked ~ & {
    opacity: 1;
  }
}

@include media-mapp('desktop') {
  .icon__check {
    top: 4px;
  }
}
