@import '../utils/colors';
@import '../utils/mixins';
@import '../utils/transition';

.information {
  @include flexwrap(30px);

  &__item {
    @include flexbasis(0);
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    width: 100%;
    height: 120px;
    background-color: getColor('bg-page-tertiary');
    border: none;
    border-radius: 4px;
  }

  &__headline {
    margin-bottom: 10px;
    @include fontType(700, 14px, 1.143, null);

    text-transform: uppercase;
    text-align: center;
  }

  &__paragraph {
    @include fontType(400, 14px, 1.786, null);

    color: getColor('text-secondary');
  }
}

@media screen and (min-width: 768px) {
  .information {
    @include flexwrap(30px);

    &__item {
      @include flexbasis(1);
    }
  }
}

@media screen and (min-width: 1200px) {
  .information {
    @include flexwrap(30px);

    &__item {
      @include flexbasis(3);
    }
  }
}
