@import '../utils/colors';
@import '../utils/mixins';
@import '../utils/transition';

.logo {
  font-family: 'Raleway', sans-serif;
  @include fontType(700, 24px, null, null);
  margin: 0;

  text-align: center;
  color: getColor('link-primary');

  &--header {
    color: getColor('text-logo');
  }

  &--footer {
    color: getColor('text-alternative');
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    @include fontType(700, 26px, 1.192, null);
    text-align: left;
  }
}
