@use '../utils/forward' as *;

.logo {
  font-family: 'Raleway', sans-serif;
  @include font-type('bold', 24px, null, null);
  margin: 0;

  text-align: center;
  color: color-get('link-primary');

  &--header {
    color: color-get('text-logo');
  }

  &--footer {
    color: color-get('text-alternative');
  }
}

@include media-mapp('tablet', 'desktop') {
  .logo {
    font-size: calc(24px + 2 * ((100vw - 768px) / 432));
  }
}

@include media-mapp('desktop') {
  .logo {
    @include font-type('bold', 26px, 1.192, null);
    text-align: left;
  }
}
