@use '../utils/forward' as *;

.menu {
  @include flex-display(row, null, null, center);

  &__list {
    display: none;
  }

  &--active {
    color: color-get('link-primary');
  }
}

@include media-mapp(null, 'tablet') {
  .menu {
    width: 100%;
    justify-content: space-between;
  }
}

@include media-mapp('tablet') {
  .menu {
    &__list {
      @include flex-display(row, 60px, space-between);
      margin-left: 83px;

      @include font-type('medium', 14px, 1.143, 0.02em);
    }

    &--active::after {
      position: absolute;
      content: '';
      display: block;
      width: 58px;
      height: 4px;
      margin-top: 30px;
      background-color: color-get('link-primary');
      border-radius: 2px;
    }
  }
}

@include media-mapp('desktop') {
  .menu {
    &__list {
      @include flex-display(row, 46px);
      margin-left: 93px;
    }

    &--active::after {
      margin-top: 28.5px;
    }
  }
}
