@import '../utils/colors';
@import '../utils/fonts';
@import '../utils/mixins';
@import '../utils/transition';

.menu {
  @include flexrow(0);
  align-items: center;

  &__list {
    display: none;
  }

  &--active {
    color: getColor('link-primary');
  }
}

@media screen and (max-width: 767px) {
  .menu {
    width: 100%;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .menu {
    &__list {
      @include flexrow(60px);

      justify-content: space-between;
      margin-left: 83px;

      @include fontType(500, 14px, 1.143, 0.02em);
    }

    &--active::after {
      position: absolute;
      content: '';
      display: block;
      width: 58px;
      height: 4px;
      margin-top: 30px;
      background-color: getColor('link-primary');
      border-radius: 2px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .menu {
    &__list {
      @include flexrow(46px);

      margin-left: 93px;
    }

    &::after {
      margin-top: 28.5px;
    }
  }
}
