@use '../utils/forward' as *;

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 40px 48px;
  @include flex-display(column, null, space-between);
  background-color: color-get('bg-page-primary');
  visibility: hidden;
  transform: translateX(100%);
  @include transition-add('transform' 'visibility');

  &__nav {
    @include flex-display(column, 32px);

    @include font-type('medium', 40px, 1.175, 0.02em);
  }

  &__contact {
    @include flex-display(column, 32px);
  }

  &__tel {
    margin-right: auto;

    @include font-type('medium', 34px, 1.176, 0.02em);

    color: color-get('link-primary');
  }

  &__mail {
    margin-right: auto;

    @include font-type('medium', 24px, null, 0.02em);

    color: color-get('text-secondary');
  }

  &__social {
    @include flex-display(row, 20px);
    margin: 0;
    color: color-get('link-primary');

    & > li:not(:first-of-type)::before {
      position: absolute;
      content: '';
      display: block;
      width: 0px;
      height: 22px;
      margin-left: -10px;
      border: 1px solid rgba(33, 33, 33, 0.2);
    }
  }
}

.is-open {
  transform: translateX(0);
  visibility: visible;
}
