@use '../utils/forward' as *;

.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  padding-inline: 15px;
  background-color: color-get('bg-backdrop');
  @include flex-display(null, null, center, center);
  visibility: visible;
  opacity: 1;
  @include transition-add('opacity' 'visibility');
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  @include transition-add('opacity' 'visibility');
}

.modal {
  position: relative;
  min-width: 320px;
  max-width: 450px;
  background-color: color-get('bg-page-primary');
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@include media-mapp('desktop') {
  .modal {
    max-width: 528px;
  }
}
