@import '../utils/colors';
@import '../utils/mixins';
@import '../utils/transition';

.project {
  @include flexwrap(30px);

  &__item {
    @include flexbasis(0);
    transition: getTransition('box-shadow');

    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
      cursor: pointer;
    }
  }

  &__image {
    position: relative;
    overflow: hidden;
  }

  &__description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-right: 45px;
    padding-left: 24px;
    display: flex;
    align-items: center;

    @include fontType(400, 18px, 1.556, null);

    color: getColor('text-alternative');
    background-color: getColor('bg-overlay-primary');
    transform: translateY(105%);
    transition: getTransition('transform');

    .project__item:hover & {
      transform: translateY(0);
    }
  }

  &__caption {
    padding: 20px 24px;
    border: 1px solid getColor('border-secondary');
    border-top: none;
  }

  &__name {
    margin-bottom: 4px;

    @include fontType(700, 18px, 2, 0.06em);
  }

  &__type {
    @include fontType(null, null, 1.875, null);

    color: getColor('text-secondary');
  }
}

@media screen and (min-width: 768px) {
  .project {
    &__item {
      @include flexbasis(1);
    }
  }
}

@media screen and (min-width: 1200px) {
  .project {
    &__item {
      @include flexbasis(2);
    }
  }
}
