@use '../utils/forward' as *;

.section {
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;

  &--hide {
    display: none;
  }

  &--color {
    background-color: color-get('bg-page-tertiary');
  }

  &__container {
    @include mix-container(0 15px);
  }

  &__image {
    padding: 118px 0;
    background-color: color-get('bg-page-secondary');
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/team-working-480.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__headline {
    margin-bottom: 50px;

    @include font-type('bold', 36px, null, null);

    text-align: center;
  }
}

@media screen and (min-width: 480px) {
  .section {
    &__image {
      color: black;
    }
  }
}

@media screen and (max-device-width: 767px) and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .section {
    &__image {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/team-working-480@2x.jpg');
    }
  }
}

@include media-mapp('tablet') {
  .section {
    &__image {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/team-working-768.jpg');
    }
  }
}

@media screen and (min-device-width: 768px) and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .section {
    &__image {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/team-working-768@2x.jpg');
    }
  }
}

@include media-mapp('desktop') {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;

    &--hide {
      display: block;
      padding-top: 0;
    }

    &__image {
      padding: 200px 0;
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/team-working-1600.jpg');
      background-size: 1600px;
    }
  }
}

@media screen and (min-device-width: 1200px) and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .section {
    &__image {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/team-working-1600@2x.jpg');
    }
  }
}
