@use '../utils/forward' as *;

.service {
  text-align: center;

  &__text {
    margin-bottom: 30px;

    @include font-type('black', 26px, 1.615, 0.06em);
    color: color-get('text-alternative');
    text-align: center;
    text-transform: uppercase;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .service {
    &__text {
      @include font-fulltype(null, 26px, null, null, 480px, 768px, 44px);
      line-height: calc(1.615 - 0.251 * ((100vw - 480px) / 288px));
    }
  }
}

@include media-mapp('tablet') {
  .service__text {
    @include font-type('black', 44px, 1.364, 0.06em);
  }
}
