@use '../utils/forward' as *;

.team {
  @include flex-display(wrap, 30px, center);

  &__item {
    @include flex-basis(1, 30px);
    max-width: 420px;
    background-color: color-get('bg-page-primary');
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }

  &__caption {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
  }

  &__name {
    margin-bottom: 10px;
    @include font-type('medium', null, 1.188, null);
  }

  &__position {
    margin-bottom: 16px;
    @include font-type(null, null, 1.188, null);

    color: color-get('text-secondary');
  }
}

@include media-mapp('tablet') {
  .team {
    &__item {
      @include flex-basis(2, 30px);
    }
  }
}

@include media-mapp('desktop') {
  .team {
    &__item {
      @include flex-basis(4, 30px);
    }
  }
}
