@use '../utils/forward' as *;

.what-we-do {
  @include flex-display(wrap, 30px);

  &__item {
    position: relative;
    @include flex-basis(3, 30px);
  }

  &__description {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-top: 27px;
    padding-bottom: 27px;
    text-align: center;

    @include font-type('bold', null, 1.143, null);

    color: color-get('text-alternative');
    background: color-get('bg-overlay-secondary');
  }
}
